@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

//colors
$white: #fff;
$color_rangoon_green_approx: #1a1a1a;
$color_mercury_approx: #e4e4e4;
$color_fuscous_gray_approx: #555;
$color_quill_gray_approx: #d2d2d2;
$color_silver_chalice_approx: #aaa;
$color_curious_blue_approx: #1596d4;
$color_dodger_blue_approx: #23aef1;
$color_picton_blue_approx: #48c3ff;
$color_apple_approx: #54b735;
$color_screamin_green_approx: #6ef046;
$color_gallery_approx: #eee;
$color_zumthor_approx: #edf9ff;
$concrete: #f2f2f2;
$color_black_haze_approx: #f7f7f7;
$gallery: #efefef;

//fonts
$font_0: Roboto;
$font_1: Helvetica Neue;
$font_2: HelveticaNeue;
$font_3: Helvetica;
$font_4: sans-serif;
$font_5: Montserrat;
$font_6: Avenir Next;

//urls
$url_0: url(/img/slider_controls.png);
$url_1: url(/img/icon_user.png);
$url_21: url(/img/social_icons.png);
$url_22: url(/img/social_icons@2x.png);
$url_31: url(/img/features/features_bg.jpg);
$url_32: url(/img/features/features_bg@2x.jpg);